<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Microservices</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        Menu 1
                    </li>
                    <li>
                        Menu 2
                    </li>
                </ul>
            </nav>
        </header>
